project:
    type: book
    output-dir: _book/
    render:
      - "*.qmd"
    pre-render: touch .nojekyll
    post-render: rm ./.nojekyll

execute:
    freeze: auto

format:
    html:
        number-sections: false
        eval: true
        theme: [cosmo, _theme/atkinson.scss]
        css: _theme/styles.css
        code-line-numbers: true
        code-block-bg: true
        code-block-border-left: true
        toc: true
        include-before-body:
            file: _theme/accessibility.html
        grid:
            sidebar-width: 330px
            body-width: 900px
            margin-width: 330px
            gutter-width: 30px
    pdf:
        include-in-header: _theme/latex_preamble.tex
        bibliography: references.bib
        links-as-notes: true
    epub:
        bibliography: references.bib

book:
    title: "Teaching Programming across Disciplines"

    page-navigation: true
    sidebar:
        style: "docked"
        search: true
        collapse-level: 1
    margin-header: _theme/_accessibility_sidebar.qmd

    output-file: teaching_programming_across_disciplines
    downloads: [pdf, epub]

    chapters:
        - index.qmd
        - 00-chapter-template.qmd
#        - C01_teaching-python.qmd
#        - C02_genai-before-during-after.qmd
#        - C03_online-teaching-reflections.qmd
#        - C04_computer-says-no.qmd
#        - C05_coding-mindset.qmd
        - C06_feminists-and-anarchists.qmd
#        - C07_teaching-C-to-novices.qmd
#        - C08_ai-boom-or-bust.qmd
#        - C09_debugging-beyond-the-debugger.qmd
#        - C10_teaching-with-genai.qmd
        - C11_sequential-vs-simultaneous.qmd
        - C12_pair-programming-overview.qmd
#        - C13_pair-programming-adventure.qmd
#        - C14_foster-inclusion-and-accessibility.qmd
#        - C15_programming-without-computers.qmd
#        - C16_pair-programming-extensions.qmd
#        - C17_coding-with-music.qmd
#        - C18_social-learning-modelling.qmd
#        - C19_genai-capabilities-and-challenges.qmd
#        - C20_automatic-marking.qmd
#        - C21_programming-across-disciplines-usefulness.qmd
#        - C22_interdisciplinary-by-design.qmd
#        - C23_pair-programming-fusion.qmd
#        - C24_lost-in-translation.qmd
#        - C25_supporting-new-tutors.qmd
#        - C26_assessment-and-feedback-overview.qmd
#        - C27_curriculum-design-overview.qmd
#        - C28_incorporating-reproducibility.qmd
#        - C29_notebooks-for-novices.qmd
#        - C30_project-based-teaching.qmd
#        - C31_leveraging-the-heterogeneity.qmd
#        - C32_civil-engineering.qmd
        - C33_coding-anxiety.qmd
#        - C34_three-stars-one-wish.qmd
#        - C35_action-feedback-plan.qmd
        - C36_pair-programming-across-disciplines.qmd
        - 99-bibliography.qmd
