project:
    type: book
    output-dir: _book/
    render:
      - "*.qmd"
    pre-render: touch .nojekyll
    post-render: rm ./.nojekyll

execute:
    freeze: auto

format:
    html:
        number-sections: true
        eval: true
        theme: [cosmo, _theme/atkinson.scss]
        css: _theme/styles.css
        code-line-numbers: true
        code-block-bg: true
        code-block-border-left: true
        toc: true
        include-before-body:
            file: _theme/accessibility.html
        grid:
            sidebar-width: 330px
            body-width: 900px
            margin-width: 330px
            gutter-width: 30px
    pdf:
        include-in-header: _theme/latex_preamble.tex
        bibliography: references.bib
    epub:
        bibliography: references.bib

book:
    title: "Teaching Programming across Disciplines"

    page-navigation: true
    sidebar:
        style: "docked"
        search: true
        collapse-level: 1
    margin-header: _theme/_accessibility_sidebar.qmd

    output-file: teaching_programming_across_disciplines
    downloads: [pdf, epub]

    chapters:
        - index.qmd
        - 00-chapter-template.qmd
        - 01-chapter-pair-programming-groupwork-script.qmd
        - 02-chapter-stats-coding.qmd
        - 21-Overcoming-coding-anxiety-script.qmd
        - 99-bibliography.qmd
