on:
  push:
    branches: [ main ]
    # Push to main happens when a PR is closed. Benefit of this over trigger on a PR is that this uses a TOKEN with full access  
 
name: Quarto Publish
 
# note: render (but not deploy) can be run this locally, with 'quarto render' in your terminal
permissions:
  contents: write

jobs:
  build-deploy:
    if: github.event.pull_request.merged == true && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
